@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

header{
  height: 10vh;
}

main {
  flex-grow: 1;
  height: 75vh;
}

footer{
  height: 15vh;
}

.line{
  border-bottom: 1px solid white;
}

.strikethrough{
  text-decoration: line-through;
  text-decoration-color: gray;
  color: gray;
}

.text-shadow{
  text-shadow: 2px 2px 2px black;
}

.author{
opacity: 0;
}

.content:hover .author{
opacity: 1;
}

.bg-dark-half{
  background-color: rgba(39, 39, 39, 0.75);
}

.cursor{
  cursor: pointer;
}